*.db
*.db-shm
cpp/*
!cpp/SpeakerRecognizer/
!cpp/bin/utils/
!cpp/bin/cat_models.pl
!cpp/bin/model.sh
!cpp/bin/test.sh
cpp/SpeakerRecognizer/.vscode/
cpp/SpeakerRecognizer/CMakeFiles/
cpp/SpeakerRecognizer/SpeakerRecognizer.*
cpp/SpeakerRecognizer/FeatureExtractor/include/export.h
cpp/SpeakerRecognizer/cmake_install.cmake
java/SpeakerRecognizer/.gradle/
java/SpeakerRecognizer/.idea/
java/SpeakerRecognizer/build/
java/SpeakerRecognizer/out/
*.iml
.idea/
.gradle/